<div class="user-section mb-4 ml-2">
    <i class="fas fa-user"></i>
    <p class="ml-2 m-0">{{ userName | async }}</p>
</div>
<div class="list-group">
    <a routerLink="/products" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
        false}" class="list-group-item list-group-item-action">Products</a>
    <a routerLink="/customers" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
        true}" class="list-group-item list-group-item-action">Customers</a>
    <a (click)="logout()" class="list-group-item list-group-item-action">Logout</a>
</div>
