<div class="mb-3 icons-container">
  <button (click)="listView = false" class="icon-btn mr-2" [ngClass]="{'active-view': !listView}"><i
    class="fas fa-th"></i></button>
  <button (click)="listView = true" class="icon-btn" [ngClass]="{'active-view': listView}"><i class="fas fa-list"></i>
  </button>
  <a routerLink="/products/create" class="add-icon">Add<i class="fas fa-plus ml-1"></i></a>
</div>

<div class="pl-4 pr-4">
  <div *ngIf="products$ | async as products; else loading">
    <ng-container *ngIf="listView; else gridView">
      <app-products-list-view [products]="products"></app-products-list-view>
    </ng-container>
    <ng-template #gridView>
      <app-products-grid-view [products]="products"></app-products-grid-view>
    </ng-template>
  </div>

  <ng-template #loading>
    <div class="text-center mt-5 pt-5">
      <div class="spinner-grow" role="status">
      </div>
    </div>
  </ng-template>

</div>
